@import './base/continent.css';
@import './base/pagination.css';
@import './base/details.css';
@import './base/home.css';
@import './base/header.css';

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
